
.vs/ConsoleApplication19/v17/Browse.VC.db-shm
.vs/ConsoleApplication19/FileContentIndex/807b5c0d-b9be-4242-9713-d4f22dbeefa7.vsidx
.vs/ConsoleApplication19/v17/Browse.VC.db
.vs/ConsoleApplication19/v17/Browse.VC.db-wal
.vs/ConsoleApplication19/v17/Browse.VC.opendb
.vs/ConsoleApplication19/v17/DocumentLayout.json
.vs/ConsoleApplication19/v17/fileList.bin
.vs/ConsoleApplication19/v17/ipch/AutoPCH/be0b518b45dbbc7d/CONSOLEAPPLICATION19.ipch
.vs/ConsoleApplication19/v17/Solution.VC.db
ConsoleA.ea0da54e/x64/Debug/ConsoleA.ea0da54e.tlog/CL.command.1.tlog
ConsoleA.ea0da54e/x64/Debug/ConsoleA.ea0da54e.tlog/Cl.items.tlog
ConsoleA.ea0da54e/x64/Debug/ConsoleA.ea0da54e.tlog/CL.read.1.tlog
ConsoleA.ea0da54e/x64/Debug/ConsoleA.ea0da54e.tlog/CL.write.1.tlog
ConsoleA.ea0da54e/x64/Debug/ConsoleA.ea0da54e.tlog/ConsoleApplication19.lastbuildstate
ConsoleA.ea0da54e/x64/Debug/ConsoleA.ea0da54e.tlog/ConsoleApplication19.write.1u.tlog
ConsoleA.ea0da54e/x64/Debug/ConsoleA.ea0da54e.tlog/link.command.1.tlog
ConsoleA.ea0da54e/x64/Debug/ConsoleA.ea0da54e.tlog/link.read.1.tlog
ConsoleA.ea0da54e/x64/Debug/ConsoleA.ea0da54e.tlog/link.secondary.1.tlog
ConsoleA.ea0da54e/x64/Debug/ConsoleA.ea0da54e.tlog/link.write.1.tlog
ConsoleA.ea0da54e/x64/Debug/ConsoleApplication19.exe.recipe
ConsoleA.ea0da54e/x64/Debug/ConsoleApplication19.ilk
ConsoleA.ea0da54e/x64/Debug/ConsoleApplication19.log
ConsoleA.ea0da54e/x64/Debug/ConsoleApplication19.obj
ConsoleA.ea0da54e/x64/Debug/ConsoleApplication19.vcxproj.FileListAbsolute.txt
ConsoleA.ea0da54e/x64/Debug/vc143.idb
ConsoleA.ea0da54e/x64/Debug/vc143.pdb
ConsoleA.ea0da54e/x64/Debug/vcpkg.applocal.log
ConsoleApplication19.sln
ConsoleApplication19.vcxproj
ConsoleApplication19.vcxproj.filters
ConsoleApplication19.vcxproj.user
x64/Debug/ConsoleApplication19.exe
x64/Debug/ConsoleApplication19.pdb
x64/Debug/libcrypto-3-x64.dll
x64/Debug/libcurl-d.dll
x64/Debug/libssl-3-x64.dll
x64/Debug/TgBot.dll
x64/Debug/zlibd1.dll
